html {
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    height: 100%;
    color: #101010;
}

strong {
    font-weight: 600;
}

.wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    min-height: 100%;
}

.header {
    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 80px;

        .logo {
            display: inline-flex;

            img {
                height: 50px;
            }
        }
    }
}

.content {
    padding: 60px 0;
    background: #f4fbff;
    display: flex;
    align-items: center;
    flex: 1 0 auto;

    .heading {
        text-align: center;
        margin-bottom: 0;

        > span {
            font-weight: 600;
            font-size: 16px;
            text-transform: uppercase;
            color: #6f6f6f;
        }
        > div {
            font-weight: 700;
            font-size: 38px;
            color: #101010;
        }
    }

    .artwork {
        margin-bottom: 30px;
        text-align: center;

        img {
            height: 250px;
        }
    }

    .page-form {
        background-color: #fff;
        margin: 40px auto;
        padding: 40px;
        max-width: 600px;
        border-radius: 3px;
        box-shadow: 0 8px 12px #00000014;

        .info-msg {
            text-align: center;
            margin-bottom: 20px;

            img {
                margin-bottom: 20px;
            }

            span {
                display: block;
            }
        }

        .form-group {
            position: relative;
            background: none;
            margin-bottom: 20px;

            .form-control {
                border: 1px solid #ccc;
                background: #fff;
                position: relative;
                width: 100%;
                padding: 15px;
                font-size: 16px;
                color: #333;
                min-height: 60px;
                z-index: 0;
                outline: 0;
            }

            .error {
                color: red;
                font-size: 13px;
                display: none;
                margin-top: 5px;
            }
        }

        .control-group {
            background-color: #fff;
            border: 1px solid #ccc;
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow: hidden;
            border-radius: 3px;

            .form-control {
                border: 0;
                flex: 1;
                min-height: 60px;
            }

            select.form-control {
                border-bottom: 1px solid #ccc;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                background-image: url('data:image/svg+xml;utf8,<svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2"><path d="M6 9l6 6 6-6"/></svg>');
                background-repeat: no-repeat;
                background-position: right 15px center;
                cursor: pointer;
                padding-right: 40px;
                white-space: normal;
                border-radius: 0;

                option {
                    font-size: 14px;
                }
            }

            input.form-control {
                font-weight: 400;
            }

            &:focus-within {
                border-color: red;
            }
        }

        .digit-group {
            display: flex;
            column-gap: 10px;
            max-width: 350px;
            margin: 0 auto;

            .form-control {
                border: 1px solid #ccc;
                text-align: center;
                padding: 8px;
                font-size: 20px;
                font-weight: 500;
                min-height: 50px;
                border-radius: 3px;

                &:focus {
                    border-color: red;
                }
            }
        }

        .digit-group + .error {
            text-align: center;
            margin-top: 5px;
        }

        .timer {
            background: #f5f5f5;
            padding: 5px 15px;
            font-size: 14px;
            color: #959292;
            margin-bottom: 10px;
            display: inline-flex;
            border-radius: 40px;
        }

        .resend-sec {
            text-align: center;
            margin-bottom: 20px;

            .resend {
                a {
                    color: #0070e0;
                    &[disabled] {
                        pointer-events: none;
                        opacity: 0.5;
                    }
                }
            }
        }

        .details-list {
            list-style: none;
            padding: 0;
            margin: 0;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 3px;

            li {
                padding: 15px;
                border-bottom: 1px solid #ccc;

                &:last-child {
                    border-bottom: 0;
                }

                span {
                    display: block;
                }

                span:first-child {
                    font-size: 14px;
                    color: #6f6f6f;
                    margin-bottom: 4px;
                }

                span:last-child {
                    font-size: 16px;
                    font-weight: 600;
                }
            }
        }

        .history {
            text-align: center;
            margin-top: 10px;
            a {
                color: #0070e0;
            }
        }

        .btn {
            width: 100%;
            background-color: red;
            color: #fff;
            padding: 15px;
            font-size: 18px;
            font-weight: 500;
            align-items: center;
            justify-content: center;
            display: flex;
            min-height: 50px;
            cursor: pointer;
            border: 0;
            outline: 0;
            border-radius: 3px;
        }
    }
}

.footer {
    .copyright-text {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        min-height: 80px;
        padding: 15px 0;
    }
}

.modal {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    padding: 12px;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);

    .modal-content {
        background-color: #fefefe;
        margin: 0 auto;
        width: 100%;
        max-width: 600px;
        border-radius: 3px;
        animation: fadeIn 500ms ease-in-out;

        @keyframes fadeIn {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }

        .modal-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            padding: 20px;
            font-size: 20px;
            .close {
                background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 20px 20px" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"%3E%3Cline x1="18" y1="6" x2="6" y2="18"/%3E%3Cline x1="6" y1="6" x2="18" y2="18"/%3E%3C/svg%3E');
                background-size: 20px 20px;
                width: 20px;
                height: 20px;
                display: inline-block;
                cursor: pointer;
                opacity: 0.4;
                transition: opacity 300ms;

                &:hover {
                    opacity: 1;
                }
            }
        }

        .modal-body {
            .txn-list {
                overflow-x: auto;
                padding: 20px;
                background: #f5f5f5;
                border-radius: 3px;

                table {
                    width: 100%;
                    border-collapse: collapse;
                    background-color: #fff;

                    tr {
                        th {
                            color: red;
                            font-weight: 500;
                            font-size: 14px;
                        }

                        td {
                            font-size: 13px;
                        }

                        td,
                        th {
                            border: 1px solid #ccc;
                            padding: 10px;
                            white-space: nowrap;
                        }
                    }
                }
            }
        }
    }
}
